@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <section id="Navbar-1">
        <header class="box-content-1">
            <h1 class="title-1">We're a digital agency.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, nam alias ratione illo saepe facilis
                eaque?
                Labore incidunt minus veniam, recusandae quod molestias repellendus delectus laboriosam neque aliquid
                assumenda enim.</p>
            <button class="start-to">Getting Start</button>
        </header>
        <div class="content-box">
            <div class="content-1">
                <i class="fas fa-chart-line"></i>
                <h1>Future Content.</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum adipisci exercitationem, hic quidem
                    tempora nemo inventore perspiciatis modi!</p>
            </div>
            <div class="content-1">
                <i class="fas fa-rocket"></i>
                <h1>Rocket Content.</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum adipisci exercitationem, hic quidem
                    tempora nemo inventore perspiciatis modi!</p>
            </div>
            <div class="content-1">
                <i class="fas fa-gamepad"></i>
                <h1>Games Content.</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum adipisci exercitationem, hic quidem
                    tempora nemo inventore perspiciatis modi!</p>
            </div>
        </div>
    </section>
</div>
